@media all and (max-width: 768px ) {

    .buttons {
        margin-top: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: 1vw;
        margin-right: 1vw;
        height: 100%;
        border-radius: 30px;
    }

    .KakaoButton {
        margin-top: 5vh;
        width: 70%;
        height: 8vh;
        padding: 0;
        border-radius: 36px;
        border: none;
        background-image: url('./image/Rectangle\ 4152\(1\).png');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .GoogleButton {
        width: 70%;
        height: 8vh;
        margin-top: 4.5vh;
        padding: 0;
        border-radius: 36px;
        border: none;
        background-image: url('./image/Rectangle\ 4154\(1\).png');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .noline {
        text-decoration: none;
    }

    .notice {
        margin-top: 5vh;
        font-size: 80%;
    }

    .kakaologo {
        margin-right: 6%;
        width: 7%;
        height: 45%;
        margin-bottom: 0.5%;
    }

    .kakaotext {
        width: auto;
        height: auto;
    }

    .googlelogo {
        margin-right: 6%;
        width: 7%;
        height: 45%;
        margin-bottom: 0.5%;
    }

    .googletext {
        width: auto;
        height: auto;
    }

}

@media all and (min-width: 769px) and (max-width: 1024px) {

    .buttons {
        margin-top: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        margin-left: 1vw;
        margin-right: 1vw;
        height: auto;
        border-radius: 30px;
    }

    .KakaoButton {
        margin-top: 7vh;
        width: 90%;
        height: 15vh;
        padding: 0;
        border-radius: 36px;
        border: none;
        background-image: url('./image/Rectangle\ 4152\(1\).png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .GoogleButton {
        width: 90%;
        height: 15vh;
        margin-top: 4.5vh;
        padding: 0;
        border-radius: 36px;
        border: none;
        background-image: url('./image/Rectangle\ 4154\(1\).png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .noline {
        text-decoration: none;
    }

    .notice {
        margin-top: 5vh;
        font-size: 100%;
    }

    .kakaologo {
        margin-right: 6%;
        width: 7%;
        height: 45%;
        margin-bottom: 0.2%;
    }

    .kakaotext {
        width: auto;
        height: 20%;
        margin-bottom: 1.7%;
    }

    .googlelogo {
        margin-right: 6%;
        width: 7%;
        height: 45%;
        margin-bottom: 0.5%;
    }

    .googletext {
        width: auto;
        height: 20%;
        margin-bottom: 1.7%;
    }

}

@media all and (min-width: 1025px) {

    .buttons {
        margin-top: 40vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        margin-left: 1vw;
        margin-right: 1vw;
        height: auto;
        border-radius: 30px;
        position: relative;
    }

    .KakaoButton {
        margin-top: 4.5vh;
        width: 50%;
        height: 15vh;
        padding: 0;
        border-radius: 36px;
        border: none;
        background-image: url('./image/Rectangle\ 4152\(1\).png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 40vh;
        margin-right: 2vw;
        margin-left: 1vw;
    }

    .GoogleButton {
        width: 50%;
        height: 15vh;
        margin-top: 4.5vh;
        padding: 0;
        border-radius: 36px;
        border: none;
        background-image: url('./image/Rectangle\ 4154\(1\).png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 40vh;
        margin-right: 1vw;
    }

    .noline {
        text-decoration: none;
    }

    .notice {
        position: absolute;
        align-content: center;
        margin-top: 5vh;
        font-size: 150%;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    .art {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .kakaologo {
        margin-right: 6%;
        width: 7%;
        height: 45%;
        margin-bottom: 0.2%;
    }

    .kakaotext {
        width: auto;
        height: 20%;
        margin-bottom: 1.7%;
    }

    .googlelogo {
        margin-right: 6%;
        width: 7%;
        height: 45%;
        margin-bottom: 0.5%;
    }

    .googletext {
        width: auto;
        height: 20%;
        margin-bottom: 1.7%;
    }

}

.background {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('./image/image\ 19.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.art {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.facetickertext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 20vh;
}
